
.language-page {
    background: url('../../../assets/images/language-selection-bg.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}
.lang-content {
    display: flex;
    flex-direction: column;
    width: 620px;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
}
.lang-content img {
    height: auto;
    width: auto;
}
.lang-content h1 {
    font-size: 62px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 50px;
}
.lang-content .lang-btn {
    padding: 15px 0px;
    background: transparent;
    border: 1px solid #E95F05;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    width: 200px;
    text-transform: uppercase;
    cursor: pointer;
}
.mr65 {
    margin-right: 65px;
}
@media (max-width: 767px) {
    
    .lang-content {
        width: 100%;
    }
    .lang-content img {
        width: 100%;
    }
    .lang-content h1 {
        font-size: 28px;
    }
    .lang-content .lang-btn {
        width: 120px;
        padding: 10px 0px;
    }
}